.wrapper {
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #fff;
    position: relative;
}

@font-face {
    font-family: 'linuxconsulting';
    src: url('../assets/linuxconsulting.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

a {
    padding: 0;
    color: #fff;
    font-weight: 300;
    &:hover {
        color: white;
    }
}

.equal>div[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.card {
    & {
        margin-bottom: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        min-height: 200px;
        word-wrap: break-word;
        background-color: rgba(0, 0, 0, 0.02);
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.15);
        border-radius: .25rem;
        text-align: left;
        padding: 0 0 0 0;
        font-size: 1.5rem;
    }
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        padding: 15px 0;
    }
    &__header {
        color: white;
        text-align: left;
        font-weight: 400;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        padding: 5px 10px;
    }
    &__text {
        padding: 1rem;
        padding-top: 0;
    }
}

section {
    height: 100vh;
    font-size: 16px;
    font-weight: 300;
    background-color: #22A7F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 330px;
    $colors: white, #F64747, #22A7F0, #00838F, #9B59B6, #03C9A9, #ffcc00;
    @for $i from 1 through length($colors) {
        &:nth-child(#{$i}) {
            background: nth($colors, $i)
        }
    }
}

.nav {
    &__wrapper {
        position: fixed;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }
    & {
        margin: 0 0 0px 30px;
    }
    &__counter {
        font-size: 24px;
        transition: all 0.15s ease-out;
    }
    &__title {
        font-size: 32px;
        font-weight: 300;
        margin: 0 0 0.25em;
        width: 250px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.3s ease-out, opacity 0.2s ease-out;
    }
    &__body {
        font-weight: 100;
        font-size: 18px;
        font-size: 18px;
        width: 250px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.3s ease-out, opacity 0.2s ease-out;
    }
    li {
        position: relative;
        transition: all 0.3s ease-out;
        margin-bottom: 1em;
        &:after {
            content: '';
            display: block;
            border-left: 2px solid white;
            border-top: 2px solid white;
            height: 250px;
            width: 20px;
            position: absolute;
            left: -30px;
            top: 15px;
        }
        a {
            display: block;
            padding: 0;
            color: #fff;
            transition: all 0.15s ease-out;
            &:hover {
                background-color: transparent;
                padding-left: 1em
            }
            &:focus {
                background-color: transparent;
            }
        }
        &.active {
            pointer-events: none;
            padding-left: 1em;
            &:after {
                width: 35px;
                height: 400px;
                top: 35px;
            }
            .nav__counter {
                font-size: 48px;
            }
            .nav__title {
                height: 40px;
                opacity: 1;
                overflow: visible;
            }
            .nav__body {
                height: 100px;
                opacity: 1;
                overflow: visible;
            }
        }
    }
}